asgiref==3.8.1
Authlib==1.4.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
dj-rest-auth==7.0.1
Django==4.2.19
django-allauth==65.4.1
django-cors-headers==4.7.0
djangorestframework==3.15.2
idna==3.10
mysqlclient==2.2.7
numpy==2.2.3
pandas==2.2.3
pdfkit==1.0.0
pycparser==2.22
PyJWT==2.10.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
reportlab==4.3.1